<!DOCTYPE html>
<html>
<head>
  <title>Zaloguj</title>
</head>
<body>
  <h1>Zaloguj</h1>

  <form method="POST" action="/auth/login">
    <input type="text" name="username" placeholder="wpisz swój nick" required />
    <input type="password" name="password" placeholder="wpisz swoje hasło" required />
    <button type="submit">Zaloguj</button>
  </form>
</body>
</html>
