<!DOCTYPE html>
<html>
<head>
  <title>Zarejestruj</title>
</head>
<body>
  <h1>Stwóz konto</h1>

  <form method="POST" action="/auth/register">
    <input type="text" name="username" placeholder="wpisz swój nick" required />
    <input type="password" name="password" placeholder="wpisz swoje hasło" required />
    <button type="submit">Zarejestruj</button>
  </form>
</body>
</html>
